body {
	background: black;
}
.p {
	color: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 320px;
	margin: auto;
	margin-top: 200px;
}
.postcard .postcard-header {
	display: flex;
}
.postcard .postcard-header img {
	width: 50px;
	height: 50px;
	margin: 10px;
}
.postcard .postcard-header h1 {
	width: 350px;
	margin: 10px;
}
.postcard .postcard-body .body-right {
	color: gray;
	width: 600px;
	margin: 10px;
	margin-top: 0;
	font-size: medium;
	text-decoration: underline;
}
.postcard .postcard-body .body-left {
	width: 600px;
	margin: 10px;
	margin-top: 0;
}
.postcard .postcard-footer {
	width: 100%;
}

.postcard-header {
	display: flex;
}
.postcard-body {
	display: flex;
}
.postcard .postcard-footer .button {
	padding: 10px;
	margin-left: 150px;
	margin-bottom: 20px;
}
